
.nav_container{
    display: flex;
    background-color: none;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
    z-index: 1000;
}
.nav_container_scroll{
    background-color: #3d3d3dab;
}

.nav_right ul{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 100px;
}
.nav_right ul li button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: .2s ease-in-out;
}
.nav_right ul li button:hover{
    color: white;
}

.font_color{
    color: white!important;
    font-weight: 900;
}
.nav_logo{
    background-color: none;
    border: none;
    cursor: pointer;
}