.nav_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_left ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 100px;
}
.nav_left ul li button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.nav_logo{
    background-color: none;
    border: none;
    cursor: pointer;
}